.nav {
    font-style: italic;
    background:#44342f;
    height: 100vh;
}
.nav-link {
    color: #fff;
}
h1{
    color: white;
}
.logo{
    text-align: center;
    letter-spacing: .8rem;
    font-size: 2.5rem;
    line-height: 0.8;
    margin: 2rem auto;
    color: #ffffff;
    border-bottom: 1px solid #6c5f5b;
    padding-bottom: 2rem;
    cursor: pointer;
}
.logo span{
    color: #ffffff;
    font-size: 2.5rem;
}
.icons{
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
    padding: .3rem;
    margin-right: 0.3rem;
}
.nav-link:hover{
    color: white;
}
.nav-link:hover .icons{
    border-radius: 100%;
    background: #fff;
    color: #a27c71;
}
.nav-link {
    color: #a27c71;
}
hr {
    border-top: 1px solid;
    width: 60%;
    color: #6c5f5b;
}