.title1{
    color: white;
    word-spacing: 5px;
    font-size: 27px;
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-top: 50px;
}
.form-control{
    background-color: #220900;
    font-style: italic;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 12px;
}
.btn-toolbar {
    justify-content: center;
    text-align: center;
}
.btn-secondary {
    border-radius: .1rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    background-color: white;
    text-align: center;
    padding-right: auto;
    width: 350px;
}
.btn-dark {
    border-radius: .1rem;
    border-bottom-style: double;
    border-color: white;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #654126;
    color: white;
    width: 350px;
}
a{
    color:white;
}
.btn-secondary.disabled, .btn-secondary:disabled {
    color: black;
    background-color: white;
    border-color: white;
}
