.title{
    color: #6c5f5b;
    text-align: center;
    margin: 3rem auto;
    font-weight: 300;
    position: relative;
    padding-bottom: 5rem;
    text-transform: uppercase;
}
.title:after{
    content: " ";
    position: absolute;
    bottom: 0;
    left:55%;
    width: 10%;
    height: .5rem;
    background: #755349;
    transform: translateX(-50%);

}
.title:before{
    content: " ";
    position: absolute;
    bottom: 0;
    left:45%;
    width: 10%;
    height: .5rem;
    background: #281e19;
    transform: translateX(-50%);
}
.form-control{
    background-color: #cecece;
    padding: 1.3rem .75rem;
}
.btn-toolbar {
    justify-content: center;
}
.btn-secondary {
    background-color:#848484;
    border-color:#848484;
    border-radius: .1rem;
    text-transform: uppercase;
    font-size: 1rem;
}
.btn-dark {
    border-radius: .1rem;
    text-transform: uppercase;
    font-size: 1rem;
}