.title{

    text-align: center;
    margin: 5rem auto;
    font-weight: 300;
    position: relative;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 15px;
    word-spacing: 10px;

}
.form-control{
    background-color: #c6c9c8;
    padding: 1.3rem .75rem;
    font-style: italic;
}
.btn-toolbar {
    justify-content: center;
    text-align: center;

}
.btn-secondary {
    border-radius: .1rem;
    border-bottom: white;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    background-color: white;
    text-align: center;
    padding-right: auto;
    width: 350px;
}

body{
    background-color: #654126;
}
.mot-de-passe{
    color: white;
    text-decoration: underline;
    margin-left: 100px;


}