.title{

    text-align: center;
    margin: 12rem auto;
    font-weight: 300;
    position: relative;
    padding-bottom: 1rem;
    text-transform: uppercase;
    color: black;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 22px;
    word-spacing: 8px;
}

.title:after{
    content: " ";
    position: absolute;
    bottom: 0;
    top: 100px;
    left:55%;
    width: 10%;
    height: .5rem;
    background: #755349;


}
.title:before{
    content: " ";
    position: absolute;
    bottom: 0;
    top: 100px;
    left:45%;
    width: 10%;
    height: .5rem;
    background: #281e19;
    justify-content: center;

}

.btn-toolbar {
    justify-content: center;
    text-align: center;
}
.btn-secondary {
    border-radius: .1rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    background-color: #7a7d7c;
    text-align: center;
    padding-right: auto;
    width: 262px;

}
.btn-dark {
    border-radius: .1rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color:black ;
    width: 262px;

}
body{
    background-color: rgba(34, 9, 0, 0.86);
}


.ButtonToolbar{
    background-color: black;
}
