/*.title{
    color: #6c5f5b;
    text-align: center;
    margin: 3rem auto;
    font-weight: 300;
    position: relative;
    padding-bottom: 5rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
}
.connexion{
    text-align: center;
    text-transform: uppercase;
    color : white;
    font-size: 20px;
    padding-top: 100px;
}
.motdepasse{
    color:white;
    text-decoration: underline;
    text-align: right;
}

.title:after{
    content: " ";
    position: absolute;
    bottom: 0;
    left:55%;
    width: 10%;
    height: .5rem;

}
.title:before{
    content: " ";
    position: absolute;
    bottom: 0;
    left:45%;
    width: 10%;
    height: .5rem;

}
.form-control{
    background-color: #5c2714;
    padding: 1.3rem .75rem;
}
.btn-toolbar {
    justify-content: center;
}
.btn-secondary {
    border-radius: .1rem;
    text-transform: uppercase;
    font-size: 1rem;
    color: black;
    background-color: white;
    text-align: center;
    padding-right: auto;

}
.btn-dark {
    border-radius: .1rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color:#3a1000 ;

}
body{
    background-color: #3a1000;
}
*/